include _commentForm
include _commentCard
mixin postCard(post)
  .post-card 
    if post.imgUrl
      img(src=`${post.imgUrl}`, alt="")
    p.post-content= post.postContent
    hr.line
    .post-info 
      a.user-link(href="#")
        img(src= post.user.photo ? post.user.photo : `/images/default.jpg`, alt="user")
        p= post.user.name
      .likes-form
        input(type="hidden", name="userid" id='userid' value=`${user.id}`)
        input(type="hidden", name="postid" id='postid' value=`${post.id}`)
        button 
          - const liked = post.likes.includes(user.id)
          if liked
            i(class="fa fa-heart" aria-hidden="true")
          else 
            i(class="fa fa-heart-o" aria-hidden="true")
          p.post-likes= `${post.likes.length}`
    .comments 
      +commentForm(post)
      each c in post.comments 
       +commentCard(c)