mixin userCard(profile, opt)
  .user-card
    a(href=`${profile.id}/profile`) 
      img(src= profile.photo ? profile.photo : "/images/default.jpg", alt="user")
      p= profile.name
    if opt === "req"
      form.req-form
        input(type="hidden", name="profile-id" id="profile-id" value=`${profile.id}`)
        button(class="req-btn") request
    else 
      form.accept-form
        input(type="hidden", name="profile-id" id="profile-id" value=`${profile.id}`)
        button(class="res-btn") accept
      form.reject-form
        input(type="hidden", name="profile-id" id="profile-id" value=`${profile.id}`)
        button(class="rej-btn") reject