extends base
include _postForm
include _postCard
include _userCard

block content 
  .profile-page 
    .user-info 
      img(src=profile.photo ? profile.photo : "/images/default.jpg", alt="user image")
      p.user-name= profile.name 
      p.user-email= profile.email
      if user.friendRequests.includes(profile.id)
        form.accept-form
          input(type="hidden", name="profile-id" id="profile-id" value=`${profile.id}`)
          button(class="res-btn") accept
      if !user.friends.includes(profile.id) && !user.friendRequests.includes(profile.id)
        form.req-form
          input(type="hidden", name="profile-id" id="profile-id" value=`${profile.id}`)
          button(class="req-btn") request
      .about-me 
        span About Me 
        p ipsum dolor sit amet, consectetur adipisicing elit.
    
    .posts 
      each post in posts 
        +postCard(post)
        
    .friends-requests    
      .friends
        p.friends-title Friends
        each friend in profile.friends 
          .user-card
            a(href=`/${friend.id}/profile`)  
              img(src= friend.photo ? friend.photo : `/images/default.jpg`, alt="user")
              p= friend.name